langchain
langchain-community
langchain-core
chromadb
sentence-transformers
transformers
streamlit
pypdf
Pillow
langchain-huggingface
langchain-openai
python-dotenv
torch
langchain-chroma
langchain-text-splitters
langchain-chroma 
langchain-huggingface 
langchain-openai 
langchain-community 
chromadb
